body {
    margin: 0;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#main_contents {
    flex: 7;
}
#sub_contents {
    flex: 2;
    height: 100%;

    position: sticky;
    top: 0;
    z-index: 2;

    background-color: darkcyan;
}

#contents {
    margin: 2% 3%;
    padding: 3em;
    background-color: #dcffff;
    border-radius: 20px;
}

#pager {
    background-color: inherit;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 10% 2em;
}

#pager ul {
    background-color: azure;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 10%;
    list-style: none;
    padding: 0.1px 0;
    padding-left: 0;
}
#pager ul:last-child {
    margin-bottom: 0;
}

#pager ul li {
    margin: 7px 0;
}

#pager ul li a {
    padding: 3px 5px;
    text-decoration: none;
}
#pager ul li a:link {
    color: #33007b;
}
#pager ul li a:visited {
    color: #33007b;
}
#pager ul li a:active {
    color: #7b0000;
}


@media screen and (max-width: 959px) {
	body {
        display: flex;
        flex-direction: column;
    }

    #main_contents {
        flex: none;
    }
    #sub_contents {
        flex: none;
        height: auto;
    
        position: static;
    }
    #pager {
        height: auto;
        padding: 1.2em 2em;
    }
    #pager ul {
        margin-bottom: 15px;
    }

    #contents {
        padding: 5%;
    }
}
@media screen and (max-width: 480px) {
	#contents {
        padding: 2%;
    }
}